<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadiationMeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RadiationMeter.Properties.Settings>
            <setting name="com_port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="min_accuracy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="voice_notify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tray_notify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tray_minimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="warning_level" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="danger_level" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="max_data" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="data_source" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="baud_rate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="data_bits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="stop_bits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="http_url" serializeAs="String">
                <value />
            </setting>
            <setting name="http_method" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="http_data" serializeAs="String">
                <value />
            </setting>
            <setting name="http_useragent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:54.0) Gecko/20100101 Firefox/68.0</value>
            </setting>
            <setting name="http_response" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="http_accuracy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="http_radiation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="http_accuracy_exp" serializeAs="String">
                <value />
            </setting>
            <setting name="http_radiation_exp" serializeAs="String">
                <value />
            </setting>
            <setting name="http_interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="http_unit" serializeAs="String">
                <value>uR/h</value>
            </setting>
            <setting name="disable_exit" serializeAs="String">
                <value>False</value>
            </setting>
        </RadiationMeter.Properties.Settings>
    </userSettings>
</configuration>